.achivements {
    padding: 60px 0;
    margin: 50px 0;
    background-color: $light;

    @media (max-width: $breakpoints-md) {
        margin: 40px 0;
    }
}

.achivements__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width:$breakpoints-xl) {
        gap: 20px;
    }

    @media (max-width:$breakpoints-xl) {
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }

    @media (max-width:$breakpoints-sm) {
        align-items: normal;
    }
}

.achivements__content-header {
    h2 {
        /* margin-top: 3px; */
        margin-bottom: 8px;
        line-height: 44px;
        letter-spacing: 1.3px;
    }

    p {
        padding-top: 1px;
        color: $dark;
        line-height: 24px;
    }

    @media (max-width:$breakpoints-lg) {
        text-align: center;
    }

    @media (max-width:$breakpoints-sm) {
        text-align: left;
    }
}

.achivements__content-group {
    display: grid;
    grid-template-columns: repeat(2, 270px);
    row-gap: 40px;
    column-gap: 24px;

    p {
        padding-top: 1px;
    }

    @media (max-width:$breakpoints-lg) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
    }

    @media (max-width:$breakpoints-sm) {
        grid-template-columns: 1fr;
        column-gap: 0;
    }
}

.achivements__item {
    display: flex;
    align-items: center;
    gap: 16px;

    p {
        line-height: 24px;
    }
}